<table class="table">
    <caption class="text-center">List of Address</caption>
    <thead>
      <tr>
        <th scope="col">Province</th>
        <th scope="col">District</th>
        <th scope="col">Detail</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Mark</td>
        <td>Mark</td>
        <td>Otto</td>
        <td><button type="button" class="btn btn-danger"><i class="fa fa-edit"></i>Red</button></td>
        <td><button type="button" class="btn btn-danger"><i class="fa fa-trash"></i>Red</button></td>
      </tr>
    </tbody>
  </table>
