<table class="table">
    <caption class="text-center">List of Address</caption>
    <thead>
      <tr>
        <th scope="col">Province</th>
        <th scope="col">District</th>
        <th scope="col">Address Detail</th>
        <th scope="col">Students</th>
        <!--<th scope="col">Edit</th>
        <th scope="col">Delete</th>-->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let adr of addresses">
        <td>{{ adr.province.name }}</td>
        <td>{{ adr.district.name }}</td>
        <td>{{ adr.addressDetail }}</td>
        <td>
          <span *ngFor="let std of adr.students; last as isLast">{{ std.firstName}} {{std.lastName}}
            <span *ngIf="isLast==false">,</span>
          </span>
        </td>
        <!--<td><button type="button" class="btn btn-danger" (click)="edit(adr.id)"><i class="fa fa-edit"></i></button></td>
        <td><button type="button" class="btn btn-danger" (click)="delete(adr.id)"><i class="fa fa-trash"></i></button></td>-->
      </tr>
    </tbody>
  </table>
