<table class="table">
    <caption class="text-center">List of Students</caption>
    <thead>
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">SchoolIdentity</th>
        <th scope="col">Address</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let std of students">
        <td>{{ std.firstName }}</td>
        <td>{{ std.lastName }}</td>
        <td>{{ std.schoolIdentity }}</td>
        <td>{{ std.address.province.name}} / {{std.address.district.name}}</td>
        <td><button type="button" class="btn btn-danger"><i class="fa fa-edit"></i></button></td>
        <td><button type="button" class="btn btn-danger" (click)="delete(std.id)"><i class="fa fa-trash"></i></button></td>
      </tr>
    </tbody>
  </table>

