<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <img class="navbar-brand"
      src="./../../../assets/images/books.svg" height="50px"
      width="50px">
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()" data-toggle="collapse" data-target="#navbarColor01"
      aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/formStudent" routerLinkActive="active">New Student</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/formAddress" routerLinkActive="active">New Address</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/listStudent" routerLinkActive="active">List Student</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/listAddress" routerLinkActive="active">List Address</a>
        </li>
      </ul>
      
    </div>
  </nav>